.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  width: 500px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.weather-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.weather-card {
  width: calc(33.33% - 20px);
  text-align: center;
  margin-bottom: 50px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #ccc;
  overflow: hidden;
}

@media (max-width: 768px) {
  .movie-card {
    width: 100%;
  }
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.weather-info {
  padding: 20px;
}
